body{
    background-color: yellow;
    align-self: center;
    margin-left: 500px;
}
h1{
    margin-left: 100px;
}
a{
    font-size: large;
}

.first{
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.second{
    padding: 10px;
    display: flex;
    flex-direction: row;
        margin-left: 10px;

}
.third{
    padding: 10px;
    display: flex;
    flex-direction: row;
        margin-left: 10px;

}
.fourth{
    padding: 10px;
    display: flex;
    flex-direction: row;
        margin-left: 10px;

}

.card2{
    height: 100px;
    width: 100px;
    margin-right: 50px;
    background-color: rgb(40, 63, 74);
    animation-name: basu;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.card1{
    height: 100px;
    width: 100px;
    margin-right: 50px;
    background-color: rgb(3, 115, 168);
    animation-name: jagu;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.card3{
    height: 100px;
    width: 100px;
    margin-right: 50px;
    background-color: rgb(3, 115, 168);
    animation-name: billo;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.card4{
    height: 100px;
    width: 100px;
    margin-right: 50px;
    background-color: rgb(133, 235, 235);
    animation-name: maya;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.card5{
     height: 100px;
    width: 100px;
    margin-right: 50px;
    background-color: rgb(137, 7, 7);
    animation-name: saya;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.card6{
     height: 100px;
    width: 100px;
    margin-right: 50px;
    background-color: rgb(4, 78, 19);
    animation-name: naya;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes naya {
    0%{
        transform: rotate(0deg);
    }50%{
        transform: rotate(180deg);
    }100%{
        transform: rotate(0deg);
    }
}
@keyframes saya {
    0%{
        transform: scaleX(1.2);
    }50%{
        transform: scaleX(0.5);
    }100%{
        transform: scaleX(1.2);
    }
}
@keyframes maya {
    0%{
        transform: scaleY(1.2);
    }50%{
        transform: scaleY(0.5);
    }100%{
        transform: scaleY(1.2);
    }
}
@keyframes billo {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}
@keyframes basu {
    0%{
        transform: skewY(20deg);
    }50%{
        transform: skewY(-20deg);
    }100%{
        transform: skewY(20deg);
    }
}
@keyframes jagu {
    0%{
        
        transform: skew(20deg);
    }50%{
        transform: skew(-20deg);
    }
    100%{
      
        transform: skew(20deg);
    }
}